<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Richard Bun | <%= page %></title>
        <meta charset="utf-8">
        <meta name="active-menu" content="<%= menuId %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link rel="stylesheet" href="./stylesheets/fontawesome-free/css/all.min.css" >
        <script src="./javascript/imgLoader.js" charset="utf-8"></script>
    </head>
    <body>

        <% include menu %>
