<!-- Menu Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand active" href="/">RICHARD BUN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- left nav-bar -->
          <ul class="navbar-nav navbar-right mr-auto">
          </ul>

          <!-- right nav-bar -->
          <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resume">RESUME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>

          </ul>

        </div>
  </div>

</nav>
