<% include ./partials/header %>

<link rel="stylesheet" href="./stylesheets/contact.css">

<div class="container">
    <div class="container-fluid bg-3 text-center">
          <h3>EMAIL</h3>
          <div class="col-xs-6 col-centered">
              <a class="textColor" href="mailto:richardbun10@gmail.com">richardbun10@gmail.com</a>
          </div>
      <hr>

      <div class="social-icons">
          <a href="https://www.linkedin.com/in/richardbun/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/ricBun" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.facebook.com/richard.bun.58" target="_blank">
              <i class="fab fa-facebook-f"></i>
          </a>
      </div>
      <div class="row">
</div>

<% include ./partials/footer %>
