<% include ./partials/header %>

<div class="container-fluid bg-3">
  <div class="container">
    <h3 class="text-center">WHO AM I?</h3>
    <hr />
    <br>
    <img id="profilePic" class="asyncImage" src="./images/resized_profile_pic.jpg" class="img-fluid img-rounded" alt="Responsive image">

    <br/>
    <hr class="small-middle-container"/>
    <div class="row">
      <div class="col-xs-6 col-centered">
        <p class="p-with-ul">
          I’m a recent Computer Science graduate (BSc. honours) of a dual degree program between Canada and Germany. <br/>

          I love challenges and have a never ending passion for personal growth.
          <br/><br/>

          <u>Whether it be through:</u>
          <br/>
          <ul class="fa-ul mb-0">
            <li><i class="fas fa-square fa-xs"></i> Learning new languages and building new systems</li>
            <li><i class="fas fa-square fa-xs"></i> Testing my physical capabilities at the gym</li>
            <li><i class="fas fa-square fa-xs"></i> Experimenting with new recipes at home</li>
            <li><i class="fas fa-square fa-xs"></i> Expanding world views via travel and new friends</li>
          </ul>

          <br/>
          Being inquisitive will forever be a part of who I am.
          <br/><br/>
          I am an aspiring full-stack developer and look forward to connecting with more people.
        </p>

        <!-- conatact -->
        <hr class="small-middle-container"/>
        <div class="text-center"><a href="/contact">Contact</a></div>
      </div>
    </div>


  </div>
</div>



  <% include ./partials/footer %>
