<% include ./partials/header %>

<div class="container-fluid bg-3 text-center">
  <!-- <script src="./javascript/menu.js"></script> -->
  <img id="profilePic" src="./images/profile_pic_website.jpg" class ="img-fluid img-rounded" alt="Responsive image">
  <h2>WHO AM I?</h2>

  <div class="row">
      <div class="col-xs-6 col-centered">
          <p>A recent graduate with a BSc. Computer Science (honours) with a never ending passion for growth.</p>
      </div>

  </div>

<% include ./partials/footer %>
