<% include ./partials/header %>

<div class="container-fluid bg-3 text-center">
  <div class="container">
    <h3>WHO AM I?</h3>
    <hr />
    <div class="row">
      <div class="col-xs-6 col-centered">
        <p>A recent graduate of Computer Science (BSc. honours) with a never ending passion for growth.</p>
      </div>
    </div>

    <br>
    <img id="profilePic" class="asyncImage" src="./images/resized_profile_pic.jpg" class="img-fluid img-rounded" alt="Responsive image">

  </div>
</div>



  <% include ./partials/footer %>
