<% include ./partials/header %>

<div class="container-fluid">
  <div class="container bg-3 text-center">
  <h3>PROJECTS</h3>
  <hr>

  <h4><u>Yelp Camp</u></h4>
  <a href="/project/yelpcamp">View Project here!</a>
  <p>Guest Login: Tester</p>
  <p>Guest Password: password</p>

  <hr/>
  <div class="col-xs-6 col-centered">
      <h5>More to Come!<i class="fas fa-tools"></i></h5>
  </div>

  </div>
</div>


<% include ./partials/footer %>
