<% include ./partials/header %>

<div class="container-fluid">
  <div class="container bg-3 text-center">
  <h3>PROJECTS</h3>
  <hr>
</div>


<!-- LIST OF PROJECTS -->
<div class="container">

    <!-- YelpCamp project -->
    <% include ./projectDescriptions/yelpcamp %>

    <hr/>
    <div class="col-xs-6 col-centered">
        <h5 class="text-primary"><i class="fas fa-tools"></i>  More projects to come...</h5>
    </div>

    </div>
</div>


<% include ./partials/footer %>
