<% include ./partials/header %>

<link rel="stylesheet" href="./stylesheets/resume.css">

<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark" id="bottomNav">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#skills">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">EDUCATION</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<div class="container-fluid bg-3">
  <div class="container resumeFont">
    <br/>
    <!---------------------------------------- SKILLS SECTION ------------------------------------------>
    <section id="skills">
      <h2 class="mb-4 text-primary">Skills</h2>

      <div class="subheading mb-4">Programming Languages &amp; Tools</div>

      <table class="table">
        <tbody>
          <tr>
            <td><strong>Operating Systems</strong></td>
            <td>Linux, OSX, Windows</td>
          </tr>
          <tr>
            <td><strong>System Development</strong></td>
            <td>Java, Python, Shell Script</td>
          </tr>
          <tr>
            <td><strong>Web Development</strong></td>
            <td> JavaScript, NodeJS, HTML, CSS, jQuery, Bootstrap, Express</td>
          </tr>
          <tr>
            <td><strong>Database Management</strong></td>
            <td>MongoDB, SQL, MySQL, Lucene, ElasticSearch, RRDTool</td>
          </tr>
          <tr>
            <td><strong>Deployment</strong></td>
            <td>Nginx, Apache</td>
          </tr>
          <tr>
            <td><strong>Current Stack:</strong></td>
            <td>NEMO (NodeJS, Express, MongoDB, Other)</td>
          </tr>
          <tr>
            <td><strong>Future Stack:</strong></td>
            <td>MERN (MongoDB, Express, React, NodeJS)</td>
          </tr>
        </tbody>
      </table>

      <div class="subheading mb-0">Workflow</div>
      <p class="mb-0">
        <ul class="fa-ul mb-0">
          <li>
            <i class="fas fa-check fa-sm"></i>
            Works well in a fast paced environment</li>
          <li>
            <i class="fas fa-check fa-sm"></i>
            Excellent communication skills gained through customer service and team collaboration</li>
          <li>
            <i class="fas fa-check fa-sm"></i>
            Excellent team building skills</li>
          <li>
            <i class="fas fa-check fa-sm"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </p>

    </section>
    <hr/>

    <!----------------------------------- EXPERIENCE SECTION --------------------------------->
    <section id="experience">
      <h3 class="mb-4 text-primary">Experience</h3>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content w-100">
          <h5 class="mb-0 d-inline">Server</h5>
          <span class="text-primary float-right">March 2019 - Present</span>
          <div class="subheading mb-1">Amsterdam Brewhouse - Toronto, Canada</div>
          <p class="mb-0">
            <u>Server at a restaraunt.</u>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Built strong communication skills through understanding and catering to each and every customer's individual needs.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Catered to customer's needs in timely and efficient manner.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Smoothly executed tasks in an incredibly fast paced environment.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Quickly built fast and strong connections via customer engagement.
              </li>
            </ul>

          </p>

        </div>
      </div>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content w-100">
          <h5 class="mb-0 d-inline">Intern</h5>
          <span class="text-primary float-right">May 2017 - August 2018</span>
          <div class="subheading mb-1">IBM - Markham, Canada</div>
          <p class="mb-0"><u>Worked with the Business Automation Workflow team.</u>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Designed automated test cases for performance and regression via jUnit and Selenium.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Managed 800+ automated test cases and improved the pass rate of previously failing test cases.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Debugged and packaged fixes for customer PMR's.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Helped experiment with a different indexing architecture in order to apply the possibility of a distributed system for the product via Lucene and ElasticSearch.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Participated in the Agile software development process, which included daily scrums and two-week iterations.
              </li>
            </ul>

          </p>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content w-100">
          <h5 class="mb-0 d-inline">Researcher</h5>
          <span class="text-primary float-right">June 2016 - October 2016</span>
          <div class="subheading mb-1">FORTH Institute of Computer Science (ICS) - Crete, Greece</div>
          <p class="mb-0">
            <u>Conducted research that was part of a 4th year undergraduate project.</u><br/>
            Analysis of the strengths and weaknesses of a relational and non-relational models created from a semi-structured XML dataset on Computer Science publications.
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Established a relational model/database from a large XML dataset via MySQL.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Established a non-relational model/database from a large XML dataset via MongoDB.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Implemented qualitative analysis that set to compare query capabilities, restrictions and constraints of the created databases, and modelling complexity.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Implemented quantitative analysis that set to compare query efficiency and instantiation times.
              </li>
          </p>
        </div>

      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content w-100">
          <h5 class="mb-0 d-inline">Intern</h5>
          <span class="text-primary float-right">March 2016 - June 2016</span>
          <div class="subheading mb-1">Fraunhofer Institute for Applied Information Technology (FIT) - Sankt Augustin, Germany</div>
          <p class="mb-0">
            <u>Focused on the area of database management.</u>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Designed and implemented databases to monitor network flow data via RRDTool and Python.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Wrote shell scripts coupled with cron to pull network flow data at varying timespans.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Translated pulled network data into visual graphs via RRDTool, providing easy-to-view depiction on the overall performance of network.
              </li>
              <li>
                <i class="fas fa-chevron-right fa-sm"></i>
                Deployed visual graphs onto team's local webserver.
              </li>
            </ul>
        </div>
      </div>

    </section>

    <hr>
    <!----------------------------------- EDUCATION SECTION ----------------------------------->
    <section class="mb-5" id="education">
      <h3 class="mb-4 text-primary">Education</h3>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="resume-content">
          <h5 class="mb-0">Lassonde School of Engineering - York University</h5>
          <div class="subheading mb-4">Bachelor of Science With Honours</div>
          <div>International Dual Degree Program</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              Program involves over a year of a studies abroad</li>
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              One of only a handful of students to complete the program</li>
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              GPA: 3.2</li>
          </ul>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h5 class="mb-0">Bonn-Rhein-Sieg University of Applied Sciences</h5>
          <div class="subheading mb-4">Bachelor of Science</div>
          <div>Part of the dual degree program offered by York University</div>

          <ul class="fa-ul mb-0">
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              Studied a semester abroad in Bonn, Germany</li>
            <li><li>
              <i class="fas fa-chevron-right fa-sm"></i>
              As of October 2019, the only student in faculty to complete the program.</li>
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              Courses taken were in German</li>
            <li>
              <i class="fas fa-chevron-right fa-sm"></i>
              Had an internship at the Fraunhofer Institute of Technology (FIT) in Sankt Augustin, Germany</li>
            <li>
              <i class="fas fa-chevron-right fa-xs"></i>
              Completed an undergraduate thesis as part of program requirements in Crete, Greece</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>


<% include ./partials/footer %>
