<h4 class="text-success">Blog App</h4>

<p>A custom Web Application also built with the foundational Blog App web app from the Udemy Course: <a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">The Web Developer Bootcamp</a> - By Colt Steele.</p>

<p>This Web application is a very simple example of a deployed blog site.<br />
  it is also hosted from my own home web-server.
</p>

<!-- small hr -->
<div class="small-middle-container">
  <hr />
</div>

<p><strong>Live Demo:</strong> <a href="/project/blog_app" target="_blank">View Project here!</a></p>

<div class="small-middle-container">
  <hr />
</div>

<div class="container">
  <div class="row">
    <!-- First column of lists -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <u>Some key features:</u>
      <ul>
        <li>Blog posting features</li>
        <li>Image linking with restrictions to unsplash</li>
        <li>blog posting limiting (only 5)</li>
        <li>RESTful routing</li>
        <li>CRUD operations for Blogs</li>
      </ul>
    </div>

    <!-- Second column of lists -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p class="mb-0">
        <u>Some key tools:</u><br>
        <strong>Front-end:</strong><br>
        <ul>
          <li>Font Awesome</li>
          <li>Semantic-UI</li>
        </ul>

        <strong>Deployment:</strong>
        <ul>
          <li>Nginx</li>
          <li>pm2</li>
        </ul>

        <strong>Back-end:</strong><br />
        <ul>
          <li>nodeJS(npm)</li>
          <li>MongoDB</li>
        </ul>
      </p>
    </div>
  </div>
</div>
