<h4 class="text-primary">Yelp Camp</h4>

<p>A custom Web Application built with the foundational YelpCamp web app from the Udemy Course: <a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">The Web Developer Bootcamp</a> - By Colt Steele.</p>

<p>Web Application showcases different campgrounds from all over the world.<br />
  it is hosted from my own home web-server.
</p>

<!-- small hr -->
<div class="small-middle-container">
  <hr />
</div>

<p><strong>Live Demo:</strong> <a href="/project/yelpcamp" target="_blank">View Project here!</a></p>

<p>Guest Login: <em>Tester</em><br />
  Guest Password: <em>password</em>
</p>

<div class="small-middle-container">
  <hr />
</div>

<div class="container">
  <div class="row">
    <!-- First column of lists -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <u>Some key features:</u>
      <ul>
        <li>User authentication</li>
        <li>User creation</li>
        <li>
          User authorization
          <ul>
            <li>To edit/post campgrounds</li>
            <li>To edit/post comments</li>
          </ul>
        </li>
        <li>User commenting</li>
        <li>
          RESTful routing
          <ul>
            <li>Campground CRUD operations</li>
            <li>Comment CRUD operations</li>
          </ul>
        </li>
        <li>
          Google Maps API
          <ul>
            <li>Geocode locations</li>
          </ul>
        </li>
        <li>Timestamped posting</li>
      </ul>
    </div>

    <!-- Second column of lists -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p class="mb-0">
        <u>Some key tools:</u><br>
        <strong>Front-end:</strong><br>
        <ul>
          <li>Font Awesome</li>
          <li>Bootstrap 4</li>
        </ul>

        <strong>Deployment:</strong>
        <ul>
          <li>Nginx</li>
          <li>pm2</li>
        </ul>

        <strong>Back-end:</strong><br />
        <ul>
          <li>nodeJS(npm)</li>
          <li>Google Maps APIs</li>
          <li>MongoDB</li>
          <li>jQuery</li>
        </ul>
      </p>
    </div>
  </div>
</div>
