<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blog App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/projects/blog/main.css">
    </head>
    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i><a href="/project/blog_app/"> Richard's Blog Site</a></div>
                <a href="/project/blog_app/blogs/new" class="item">New Post</a>
            </div>
        </div>
