<% include ../partials/header %>

<div class="container">
    <div class="container-fluid bg-3 text-center">
      <h3>PROJECTS</h3>
        <hr>
          <div class="col-xs-6 col-centered">
              <h5>Under Construction  <i class="fas fa-tools"></i>  </h5>
          </div>

      </div>

</div>

<% include ../partials/footer %>
